.page {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  overflow: hidden;
  font-size: 20px;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

.chatArea {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--background-secondary);
}