.wrapper {
  display: flex;
  width: 100%;
}

.botWrapper {
  justify-content: flex-start;
}

.userWrapper {
  justify-content: flex-end;
}

.bubble {
  padding: 12px 16px;
  border-radius: 16px;
  font-size: 16px;
  line-height: 1.4;
  word-wrap: break-word;
  width: fit-content;
  max-width: 70%;
}

.bot {
  background-color: #334155;
  color: #cbd5e1;
}

.user {
  background-color: #6366f1;
  color: white;
}
